@font-face {
  font-family: "rpsls";
  src: url("../fonts/rpsls.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* globals */
body {
  background-color: #03151f;
  font-family: "Verdana", sans-serif;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  text-align: center;
  color: #a0b0c0;
}

h1 {
  font-size: 3rem;
}

h2,
.score-table p {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}

img {
  width: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 0 15%;
}

/* flexes */
.start-template,
.rochambeau,
.variant-buttons,
.weapons-container,
.score-table {
  display: flex;
}

.rochambeau,
.start-template {
  height: 100vh;
  flex-direction: column;
}
/* start display */
.start-template {
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.variant-buttons {
  gap: 20%;
  align-items: center;
  justify-content: center;
}

.variant-btn,
.weapon-btn {
  font-family: "rpsls" !important;
  font-size: 10rem;
  background-color: transparent;
  border: none;
}

.variant-btn {
  color: #4d6779;
  min-width: 250px;
  padding: 1rem;
  transition: ease 0.3s;
}

.variant-btn:hover,
.weapon-btn:hover {
  color: #4cc;
  transform: rotate(10deg);
}

.hidden {
  display: none;
}

/* rochambeau */
.instruction-label {
  color: #3574b5;
}
.rochambeau {
  justify-content: space-around;
  text-align: center;
  padding: 1rem;
}

/* score display */
.score-container {
  text-align: center;
}

.win,
.loose,
.tie {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #ccc;
  justify-content: center;
  border-radius: 15px;
}

.win {
  background-color: #11ff9b4f;
}

.loose {
  background-color: #e876764f;
}

.tie {
  background-color: #5bc1d2b2;
}

.player-icon {
  width: 48px;
}

.score-table {
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 2rem;
}

.score-table div {
  background-color: #203050;
  border-radius: 50%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.points {
  color: #a0b0c0;
}

/* game field */
.game-field {
  text-align: center;
}

.game-field p {
  font-size: 1.5rem;
  padding-bottom: 3rem;
}

.weapon-btn {
  font-size: 4rem;
  max-width: 15%;
  min-width: 80px;
  transition: ease 0.3s;
  color: #4d6779;
}

.weapons-container {
  gap: 1rem;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* reset area */
.reset-area {
  display: flex;
  justify-content: space-around;
  gap: 5rem;
}

.reset-btn,
.restart-btn {
  min-width: 25%;
  max-width: 50%;
  background-color: transparent;
  color: #3574b5;
  text-transform: uppercase;
  border-radius: 5px;
  border: 1px solid #3574b5;
  padding: 0.5rem 1rem;
}

.restart-btn:hover {
  font-weight: bold;
  color: #4cc;
  border-color: #4cc;
}

.reset-btn:hover {
  font-weight: bold;
  color: #a30000;
  border-color: #a30000;
}
